{% extends 'base.html'%}

{% block content %}

<main class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Cook county form</h1>
    <p class="lead">Please enter the following information..</p>
  </div>
<!--
<div class="container">
	<div class="d-flex flex-column">
		<h4>Registered users:</h4>
		{% for account in accounts %}
			<p>{{account}}</p>
		{% endfor %} 
	</div>
</div>

-->

<div class="container">
	<div class="d-flex flex-column">
		<h4>Fill in the follow questions:</h4>
		<p class="lead"> Question1 </p>
		<p class="lead"> Question2 </p>
		<p class="lead"> Question3 </p>
		
	</div>
</div>

{% endblock content %}